In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
data={'Age':[20,21,22,23,27,25,26],
     'Income':[20000,35000,40000,50000,60000,65000,70000]}
df=pd.DataFrame(data)
df.head(7)

   Age  Income
0   20   20000
1   21   35000
2   22   40000
3   23   50000
4   27   60000
5   25   65000
6   26   70000

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sc=StandardScaler()
df_std=sc.fit_transform(df)
df_std

array([[-1.40449377, -1.71814712],
       [-0.99484975, -0.81611988],
       [-0.58520574, -0.51544414],
       [-0.17556172,  0.08590736],
       [ 1.46301434,  0.68725885],
       [ 0.64372631,  0.98793459],
       [ 1.05337032,  1.28861034]])

In [21]:
std_20=(20-df['Age'].mean())/df['Age'].std(ddof=0)
std_20

-1.4044937663535662

In [22]:
std_20000=(20000-df['Income'].mean())/df['Income'].std(ddof=0)
std_20000

-1.7181471183502313

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
mmsc=MinMaxScaler()
df_mmsc=mmsc.fit_transform(df)
df_mmsc

array([[0.        , 0.        ],
       [0.14285714, 0.3       ],
       [0.28571429, 0.4       ],
       [0.42857143, 0.6       ],
       [1.        , 0.8       ],
       [0.71428571, 0.9       ],
       [0.85714286, 1.        ]])

In [26]:
mmsc_21=(21-df['Age'].min())/(df['Age'].max()-df['Age'].min())
mmsc_21

0.14285714285714285

In [27]:
21_scaled =mmsc_21*(1-0)+0
21_scaled

SyntaxError: invalid decimal literal (3989509020.py, line 1)

In [28]:
mmsc_35000=(35000-df['Income'].min())/(df['Income'].max()-df['Income'].min())
mmsc_35000

0.3